<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>衛生棉庫存輸入</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #F2B3BD">
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <label>請輸入 輕薄護墊 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%">
                <select id="sel_pad" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
            </select>
            </div>
            <div style="float: left; width: 75%">
                <input type="number" inputmode='decimal' id="Pad" class="form-control" />
            </div>
            <br />
            <br />
            <label>請輸入 日用量少 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%"">
                <select id="sel_ldaily" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
                </select>
            </div>
            <div style="float: left; width: 75%">
                <input type="number" inputmode='decimal' id="Ldailyuse" class="form-control" />
            </div>
            <br />
            <br />
            <label>請輸入 日用正常 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%"">
                <select id="sel_ndaily" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
            </select>
            </div>
            <div style="float: left; width: 75%">
                <input type="number" inputmode='decimal' id="Ndailyuse" class="form-control" />
            </div>
            <br />
            <br />
            <label>請輸入 日用量多 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%"">
                <select id="sel_hdaily" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
            </select>
            </div>
            <div style="float: left; width: 75%">
                <input type="number" inputmode='decimal' id="Hdailyuse" class="form-control" />
            </div>
            <br />
            <br />
            <label>請輸入 夜用正常 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%"">
                <select id="sel_nnight" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
            </select>
            </div>
            <div style="float: left; width: 75%">
                <input type="number" inputmode='decimal' id="Nnightuse" class="form-control" />
            </div>
            <br />
            <br />
            <label>請輸入 夜用量多 使用情況 (單位:片):</label>
            <br />
            <div style="float: left; width: 25%"">
                <select id="sel_hnight" class="form-control">
                <option selected>減少</option>
                <option>新增</option>
            </select>
            </div>
            <div style="float: left;width: 75% ">
                <input type="number" inputmode='decimal' id="Hnightuse" class="form-control" />
            </div>
            <br />
            <br />
            <button class="btn btn-success btn-block" id="sure" style="background-color: #F77885">確定</button>
        </div>
    </div>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
	<script>
        function initializeLiff(myLiffId) {
            liff.init({liffId: myLiffId });
        }

		function pushMsg(pPad, pLdailyuse, pNdailyuse, pHdailyuse, pNnightuse, pHnightuse, psel_pad, psel_ldaily, psel_ndaily, psel_hdaily, psel_nnight, psel_hnight) {
			if (pPad == ''|| pLdailyuse == ''|| pNdailyuse == ''|| pHdailyuse == ''|| pNnightuse == ''|| pHnightuse == '') {  //資料檢查
				alert('每個項目都必須輸入唷！如果沒有請填０');
			 	return;
			}
            if (psel_pad == '減少'){
                pPad *= -1
            }
            if (psel_ldaily == '減少') {
                pLdailyuse *= -1
            };
            if (psel_ndaily == '減少') {
                pNdailyuse *= -1
            };
            if (psel_hdaily == '減少') {
                pHdailyuse *= -1
            };
            if (psel_nnight == '減少') {
                pNnightuse *= -1
            };
            if (psel_hnight == '減少') {
                pHnightuse *= -1
            };
            
			var msg = "更新";  //回傳訊息字串
			msg = msg + pPad+ "/";
            msg = msg + pLdailyuse+ "/";
            msg = msg + pNdailyuse+ "/";
            msg = msg + pHdailyuse+ "/";
            msg = msg + pNnightuse+ "/";
            msg = msg + pHnightuse; 

			liff.sendMessages([  //推播訊息
				{ type: 'text',
				  text: msg
				}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
		}

		$(document).ready(function () {
			initializeLiff('{{ liffid }}');  //接收傳遞的 liffid 參數
			$('#sure').click(function (e) {  //按下確定鈕
				pushMsg($('#Pad').val(), $('#Ldailyuse').val(), $('#Ndailyuse').val(), $('#Hdailyuse').val(), $('#Nnightuse').val(), $('#Hnightuse').val(), $('#sel_pad').val(), $('#sel_ldaily').val(), $('#sel_ndaily').val(), $('#sel_hdaily').val(), $('#sel_nnight').val(), $('#sel_hnight').val());
			});
		});
	</script>
</body>
</html>